{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-regenerator",
    "transform-runtime"
  ]
}
