{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    // "transform-class-properties",
    // "transform-object-rest-spread",
    // "syntax-dynamic-import",
    // "transform-regenerator",
    // "transform-runtime"

    // "@babel/plugin-proposal-class-properties",
    // "@babel/plugin-syntax-dynamic-import",
    // "@babel/plugin-transform-runtime"
  ]
}
