{
  "extends": [
    "semistandard",
    "plugin:react/recommended",
    "plugin:promise/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-return-assign": 0,
    "space-before-function-paren": ["error", "never"]
  }
  // "plugins": [
  //   "react"
  // ],
  // "env": {
  //   "es6":     true,
  //   "browser": true,
  //   "node":    true,
  //   "mocha":   true
  // },
}
