.svgee-home {
  color: #333;
  text-align: center;
  height: 100vh;
}

input[type="file"] {
  display: none;
}

.svgee-image-upload {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 20px 10px rgb(255, 255, 255)q;
  border-radius: 2px;
  color: #333;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 30px;
  outline: none;
  padding: 6px 12px;
  transition-duration: 0.6s;
}

.svgee-about-section {
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: 0;
  padding: 4px;
  position: fixed;
  right: 10px;
}

.svgee-about-link {
  font-size: 14px;
  margin: 4px;
}

.svgee-image-upload:hover {
  border-color: #bbb;
  animation: glow 5s infinite;
  cursor: pointer;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 1px 1px rgb(238, 156, 48);
  }
  13% {
    box-shadow: 0px 0px 10px 5px rgb(227, 235, 106);
  }
  26% {
    box-shadow: 0px 0px 20px 10px rgb(147, 235, 106);
  }
  39% {
    box-shadow: 0px 0px 10px 5px rgb(106, 235, 196);
  }
  52% {
    box-shadow: 0px 0px 20px 10px rgb(106, 140, 235);
  }
  65% {
    box-shadow: 0px 0px 10px 5px rgb(125, 106, 235);
  }
  78% {
    box-shadow: 0px 0px 20px 10px rgb(205, 106, 235);
  }
  87% {
    box-shadow: 0px 0px 10px 5px rgb(235, 106, 112);
  }
  100% {
    box-shadow: 0px 0px 1px 1px rgb(238, 156, 48);
  }
}

.svgee-image-upload-disabled {
  visibility: hidden;
}
.svgee-image-upload-disabled:hover {
  cursor: not-allowed;
}

.svgee-import-image-prompt {
  padding-top: 100px;
}

.svgee-home-item {
  border: 1px solid #eee;
  height: 100vh;
  overflow: auto;
}

.svgee-import-image-example {
  margin-top: 24px;
}

.svgee-example-image {
  border: 1px solid;
  display: inline-block;
  height: 200px;
  margin-top: 50px;
  vertical-align: top;
}

.svgee-example-text {
  display: inline-block;
  margin: 10px;
  margin-top: 150px;
  vertical-align: top;
}

.svgee-example-svg {
  border: 1px solid;
  display: inline-block;
}