.svgee-home {
  color: #333;
  text-align: center;
  height: 100vh;
}

input[type="file"] {
  display: none;
}

.svgee-image-upload {
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  transition-duration: 0.15s;
}

.svgee-image-upload:hover {
  border-color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.svgee-image-upload-disabled {
  visibility: hidden;
}
.svgee-image-upload-disabled:hover {
  cursor: not-allowed;
}

.import-image-prompt {
  padding-top: 200px;
}

.svgee-home-item {
  border: 1px solid #eee;
  height: 100vh;
  overflow: auto;
}